<div>
<p><strong>Estadisticas</strong></p>
  Número de preguntas: <%=statistics.questions %> <br />
  Número de comentarios totales: <%=statistics.comments %> <br />
  Número medio de comentarios por pregunta: <%=statistics.commentsavg %> <br />
  Número de preguntas sin comentarios: <%=statistics.questionswocomment %> <br />
  Número de preguntas con comentarios: <%=statistics.questionswcomments %> <br />
</div>
